@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #003153;
    transition: all 0.25s ease;
}

header.sticky {
    transition: all 0.25s ease;
    z-index: 2;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    padding: 10px 10%;
}

header.sticky img {
    transition: all 0.25s ease;
    width: 180px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
}

.logo:hover {
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding-left: 30px;
}

nav ul li {
    font-size: 20px;
    display: inline-block;
    margin: 0px 20px;
}

nav li, nav a {
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-facebook, .header-instagram {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
}

.lang {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    background: none;
    margin-right: 20px;
    padding: 0px 10px;
    border: 2.5px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.banner-carry {
    position: absolute;
    top: -8px;
    left: 1080px;
    width: 400px;
}

.banner {
    padding: 30px 12%;
    background-color: #003153;
    padding-top: 100px;
    height: 100vh;
}

.banner h1 {
    padding-top: 150px;
    color: #f1f1f1;
    font-size: 80px;
    font-weight: 600;
}

.banner h2 {
    color: #f1f1f1;
    font-size: 60px;
    font-weight: 500;
}

.banner p {
    color: #f1f1f1;
    font-size: 26px;
    margin-top: 20px;
    font-weight: 400;
}

.contact-btn, .services-btn {
    margin-top: 40px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid;
}

.contact-btn {
    color: #003153;
    background-color: #ffae00;
    border-color: #ffae00;
}

.services-btn {
    margin-left: 20px;
    color: #ffae00;
    border-color: #ffae00;
}

.crane {
    margin-top: -40vh;
    width: 100%;
}